<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>De Hallen</title>
    <script src="/script.js" defer></script>
</head>
    <body>

        <div class="wrapper">
            <!-- NAV -->
            <nav class="main-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/vraag-aanbod">Vraag & Aanbod</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/about">About</a></li>
            </ul>
            </nav>