<%- include('./partials/head.ejs') -%> 
<%- include('./partials/foot.ejs') -%> 

<header>

<!-- TOP CONTAINER  -->
<section class="top-container">
<header class="display">
    <h1>De Hallen Amsterdam</h1>
    <p>Wij brengen vraag en aanbod uit Amsterdam West bij elkaar.</p>
    <a href="/opdracht" class="btn">Zelf een opdracht aanmelden</a>
</header>